
header{ display: flex; justify-content: space-between;align-items: center;padding-left:1.25rem; padding-right: 1.25rem; padding-top: 1.25rem; gap: 1.25rem; padding-bottom: 1.25rem;}
header ul{ display:flex; gap: 1rem; align-items: center;}
.logo { width: 6rem; padding-left: 1.25rem ;}
.titulo { color: white; font-size: 3rem; ;}
.link1 {text-decoration: none;
 color:white; font-size: 0.8REM;font-weight: bold;}
.foto1{ max-width: 100%; gap: 1rem; }
.descrição1 { color: #c6c6c6; line-height: 1.5rem;}
.conteudo1{ display: grid; grid-template-columns: 1fr 1fr; gap: 6rem; ; padding: 2rem;}
nav a:hover {border-bottom: solid white 2px; }
.lista1 {  list-style-type: none;}
.page01 { background-color: black;; width: 100%;}
.ponto { color: #FFC107 ;}
.BOTAO { text-decoration: none; color:#664400;background-color: #FFC107;padding: 0.6rem; border-radius: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 0.7rem; font-weight:bold ;}
.ponto2 { color: #FFC107;}
.magic { width: 100%; height: 70%;}
.nimbus {  width: 100%; height: 70%;}
.nebula{ width: 100%; height: 70%; } 
.menu { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;}
.titulo2 { font-size: 3rem; font-family: Arial, Helvetica, sans-serif; padding-left: 2rem;}
.detalhe::before { content:""; position: absolute;
height: 0.4rem; width: 0.4rem; background-color: #FFC107; margin-top: -0.2rem ;}
.container1{ display: flex; align-items: center; gap: 1rem; }
.lk01 { text-decoration: none; color: black;}
.foto3{ max-width: 100%;
width: 20rem; height: 20rem;}
.pagina3 { background-color: black;}
.subtitulo { color: #c6c6c6;}
.titulop3 { color: white;}
.texto3 { color: #949292;}
.escolha { color: #FFC107;}