
header{ display: flex; justify-content: space-between;align-items: center;}

header ul{ display:flex; gap: 1rem; align-items: center;}
.titulo { color: white; font-size: 3rem;}
.link1 {text-decoration: none;
 color:white; font-size: 0.8REM;font-weight: bold;}
.foto1{ max-width: 100%; gap: 1rem;}
.descrição1 { color: #c6c6c6;}
.conteudo1{ display: grid; grid-template-columns: 1fr 1fr; gap: 6rem; ; padding: 2rem;}
nav a:hover {border-bottom: solid white 2px; }
.lista1 {  list-style-type: none;}
.page01 { background-color: black;}
.ponto { color: #FFC107 ;}